body {
  background: url('images/pages/Rectangle 42623.png') no-repeat center center/cover !important;
  font-family: 'Zain', sans-serif;
}

.container{
    margin: 60px auto;
    width: 58%;
    min-height: 50vh;
}
.coupon-card {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  text-align: start;
}

@media (max-width: 576px) {
    body{
        background: white !important;
    }
    .coupon-card{
        border: 1px solid #CF9233;
        margin-bottom: 10px;
    }
}
.coupon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.coupon-title {
  color: #CF9233;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
} 

.coupon-text {
  font-size: 15px;
  color: #444;
}

.discount_code{
  font-size: 14px;
  color: #979797;
  font-weight: 400;
}
.coupon-footer {
  font-size: 14px;
  color: #979797;
  font-weight: 400;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-icon {
  cursor: pointer;
  color: #777;
  transition: color 0.3s;
}

.copy-icon:hover {
  color: #f39c12;
}
.coupon-section {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.coupon-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/pages/couponbg.jpg");
    background-size: cover;
    background-position: top;
    filter: blur(8px);
    z-index: -2; /* تحت كل العناصر */
}

.coupon-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* الطبقة الشفافة */
    z-index: -1; /* فوق الصورة لكنها تحت المحتوى */
}

.coupon-card {
    background-color: rgba(255, 255, 255, 0.85); /* ممكن تضيف شفافية للكارت نفسه */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}