    @media (max-width: 768px) {
  .container {
    padding: 0 1rem !important;
  }
  h2 {
    font-size: 32px !important;
  }
  p {
    font-size: 16px !important;
  }
}
    .m-a-h h3 {
        font-size: 21px;
        line-height: 1.8;
        color: #CF9233;
    }
    .m-a-h p {
        color: #000;
        font-size: 17.6px;
        line-height: 1.8;
        font-weight: 400;
    }
    .m-a-h h2 {
        font-size: 44.8px;
        margin-bottom: 35px;
        background: linear-gradient(90deg, #CF9233, #212121);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 30%;
    }
    .m-hero-sec{
        height: 500px;
        position: relative;
        z-index: 99;
        background: #f5f5f5;
        width: 100%;
        overflow-x: clip;
    }
    .s-hero-sec{
        background: #ffffff;
        border-radius: 77% 77% 0 0;
        position: absolute;
        width: 137%;
        left: -290px;
        margin-top: -150px;
        min-height: 750px;
    }
    @media (max-width: 576px) {
        .s-hero-sec{
            border-radius: 0;
            left: 0;
            width: 100%;
        }
    }